/* Start of Header */

header {
    background-color: rgba(51, 60, 101, 1);
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0px;
}


nav {
    width: 70%;
}

nav ul {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgba(234, 108, 120, 1);
}

a:hover {
    color: rgba(252, 161, 134, 1);
    font-weight: bolder;
}

/* End of Header */

h2 {
    color: rgba(252, 161, 134, 1);
    margin-top: 0px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
}

img {
    max-height: 600px;
    padding-right: 100px;
}

/* Start of Footer */

footer {
    background-color: rgba(51, 60, 101, 1);
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a:link, footer a:hover, footer a:visited {
    color: white;
    font-weight: normal;
}