/* Start of Header */

header {
    background-color: rgba(51, 60, 101, 1);
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0px;
}


nav {
    width: 70%;
}

nav ul {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgba(234, 108, 120, 1);
}

a:hover {
    color: rgba(252, 161, 134, 1);
    font-weight: bolder;
}


/* End of Header */

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
}

section {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

section a:link {
    color: rgba(234, 108, 120, 1);
    text-decoration: none;
}

section a:visited {
    color: rgba(114, 100, 161, 1)
}

section  a:hover {
    color: rgba(234, 108, 120, 1);
}

h2 {
    color: rgba(252, 161, 134, 1);
    margin-top: 0px;
}

h3 {
    color: rgba(252, 161, 134, 1);
}

#product-links {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.product-link {
    text-align: center;
}

.product-link img {
    max-width: 300px;
    min-width: 100px;
}

.total-slideshow {
    width: 45%;
}

.product-info {
    padding-left: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.product-details {
    width: 45%;
}

.extra-details {
    display: flex;
    justify-content: space-between;  
}

.extra-details p {
    margin: 0px;
}

button {
    background-color: rgba(234, 108, 120, 1);
    color: white;
    border-radius: 10px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Start of Footer */

footer {
    background-color: rgba(51, 60, 101, 1);
    margin: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}