header {
    background-color: rgba(51, 60, 101, 1);
    margin: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0px;
}


nav {
    width: 70%;
}

nav ul {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
}

h2 {
    color: rgba(252, 161, 134, 1);
    margin-top: 0px;
}

button {
    background-color: rgba(234, 108, 120, 1);
    color: white;
    border-radius: 10px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

#intro {
    padding-left: 60px;    
    display: flex;
    align-items: center;
}

#intro-left {
    width: 50%;
    padding-right: 35px;  
}

#intro-right {
    width: 50%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#intro-right img {
    min-width: 100%;
    min-height: 100%;
}

#home-custom {
    background-color: rgba(112, 66, 105, 1);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#custom-white {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

#home-about {
    background-color: rgba(114, 100, 161, 1);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#home-about img {
    max-height: 600px;
    padding-right: 50px;
}

#about-white {
    background-color: white;
    padding: 100px;   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-white p {
    margin-top: 0px;
}

